<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .img {
            width: 30px;
            height: 30px;
        }
    </style>
</head>

<body>
    <div id="shopcart">
        <div class="panel-heading">
            <h1>vue测试监听查询购物车数量及其金额变化</h1>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-btn"><a class="btn btn-success">搜索</a></span>
                <input type="text" placeholder="请输入查询内容" v-model="input"/>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>图片</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>价格</th>
                    <th>总价</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in searchData" :key="index">
                    <td><img class="img" :src="item.url" /></td>
                    <td>{{item.name}}</td>
                    <td>
                        <button @click="del(index)">-</button>
                        {{item.count}}
                        <button @click="add(index)">+</button>
                    </td>
                    <td>{{item.price | priceFilter(2)}}</td>
                    <td>{{item.count * item.price | priceFilter(1)}}</td>
                    <td><button>商品详情</button></td>
                </tr>
                <tr>
                    <td colspan="6">总共{{totalCount}}件商品，总价{{totalPrice}}元。</td>
                </tr>
            </tbody>
        </table>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./shoppingCart.js"></script>
</body>

</html>