<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>天知道</title>
</head>
<body>
    <div id="app" class="wrap">
        <div class="search-form">
            <div class="logo"> 天知道 </div>
            <div class="from-group">
                <input type="text" class="input-txt" placeholder="请输入查询的城市" v-model="city" @keyup.enter="searchWeather"/>
                <input type="button" class="input-sub" value="搜索" />
            </div>
        </div>
        <div class="hot-key">
            <a>北京</a>
            <a>上海</a>
            <a>广州</a>
            <a>深圳</a>
        </div>
        <ul class="weather-list">
            <li v-for="(item, index) in weatherList">{{item}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./tianzhidao.js"></script>
    
</body>
</html>